@charset "UTF-8";
body{
	background-color:#008080;
font-family: 'Rubik', sans-serif;
}
h1{
	padding: 35px 35px 0 35px;
font-weight: 300;
}
form{
	margin: 0;
padding: 0;
box-sizing: border-box;
}
input{
	font-size: 16px;
display: block;
font-family: 'Rubik', sans-serif;
width: 100%;
padding: 10px 1px;
border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
border-bottom: 1px solid #747474;
outline: none;
-webkit-transition: all .2s;
transition: all .2s;
}